src/rarefold/common/__pycache__
src/rarefold/data/__pycache__
src/rarefold/data/tools/__pycache__
src/rarefold/model/__pycache__
src/rarefold/model/tf/__pycache__
src/.DS_Store
data/params/*.npy
data/design_test_case/1ssc/unrelaxed*.pdb
data/design_test_case/1ssc/init*.pdb
data/design_test_case/1ssc/metrics.csv
.DS_Store
data/.DS_Store
data/uniclust30
data/uniclust30_2018_08
data/uniclust30_2018_08_hhsuite.tar.gz
hh-suite
data/design_test_case/10
data/design_test_case/11
data/design_test_case/12
data/design_test_case/13
data/design_test_case/14
data/design_test_case/15
data/design_test_case/metrics.csv
